# Data frames in R

## R Objects: Data Frames

A "data frame" is the R-equivalent of a spreadsheet (a table of rows and columns). It is one of the most useful storage structures for data analysis in R.

## Importing data with `readr`

`readr` is a package for reading various data files into R.

R does have some "base" functions for doing this but `readr` is more efficient.

`readr` is part of a collection of packages called `tidyverse`: https://www.tidyverse.org/

In [2]:
library(readr)

ess18 <- read_csv("https://github.com/CALDISS-AAU/workshop_R-intro/raw/master/data/ESS2018DK_subset.csv")

Rows: 1285 Columns: 16

-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr  (6): vote, prtvtddk, lvpntyr, tygrtr, gndr, edlvddk
dbl (10): idno, netustm, ppltrst, yrbrn, eduyrs, wkhct, wkhtot, grspnum, frl...


i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

`ess18` is now a data frame object containing a dataset. Notice that the basic syntax stays the same: `objectname <- somefunction(something)`.

## Data used: European Social Survey 2018

We are using a subset of the Danish European Social Survey data from 2018 (https://www.europeansocialsurvey.org/)

The data contains the following variables:

|variable | description |
|----|---|
|idno|Respondent's identification number|
|netustm |Internet use, how much time on typical day, in minutes|
|ppltrst|Most people can be trusted or you can't be too careful|
|vote|Voted last national election|
|prtvtddk|Party voted for in last national election, Denmark|
|lvpntyr|Year first left parents for living separately for 2 months or more|
|tygrtr|Retire permanently, age too young. SPLIT BALLOT|
|gndr|Gender|
|yrbrn|Year of birth|
|edlvddk|Highest level of education, Denmark|
|eduyrs|Years of full-time education completed|
|wkhct|Total contracted hours per week in main job overtime excluded|
|wkhtot|Total hours normally worked per week in main job overtime included|
|grspnum|What is your usual [weekly/monthly/annual] gross pay|
|frlgrsp|Fair level of [weekly/monthly/annual] gross pay for you|
|inwtm|Interview length in minutes, main questionnaire|

## Exploring Data Frames
To get an idea of what the data contains, we can use `head()`:

In [3]:
head(ess18)

  idno  netustm ppltrst vote
1  5816  90     7       Yes
2  7251 300     5       Yes
3  7887 360     8       Yes
4  9607 540     9       Yes
5 11688  NA     5       Yes
6 12355 120     5       Yes
  prtvtddk                                              lvpntyr tygrtr gndr
1 SF Socialistisk Folkeparti - Socialist People's Party 1994    60     Male
2 Dansk Folkeparti - Danish People's Party              1993    40     Female
3 Socialdemokratiet - The Social democrats              1983    55     Male
4 Alternativet - The Alternative                        1982    64     Female
5 Socialdemokratiet - The Social democrats              1968    50     Female
6 Socialdemokratiet - The Social democrats              1987    60     Male
  yrbrn
1 1974
2 1975
3 1958
4 1964
5 1952
6 1963
  edlvddk
1 Mellemlang videregående uddannelse af 3-4 års varighed. Professionsbachelorer,
2 Faglig uddannelse (håndværk, handel, landbrug mv.), F.eks. Faglærte, Social-
3 Lang videregående uddannelse. Kandidatuddannelser af 5.-6. års varighed, F.eks
4 Mellemlang videregående uddannelse af 3-4 års varighed. Professionsbachelorer,
5 Faglig uddannelse (håndværk, handel, landbrug mv.), F.eks. Faglærte, Social-
6 Faglig uddannelse (håndværk, handel, landbrug mv.), F.eks. Faglærte, Social-
  eduyrs wkhct wkhtot grspnum frlgrsp inwtm
1 35     37    37     37000   35000   61
2 13     32    34     22000   30000   68
3 25     39    39     36000   42000   89
4 13     32    34     32000      NA   50
5  2     37    37        NA      NA   77
6 14     38    37     36000   38000   48

We can check the names of the rows and columns (the variable names) using `rownames` and `colnames`. `dim` returns number of rows and columns.

In [4]:
head(rownames(ess18))

[1] "1" "2" "3" "4" "5" "6"

In [5]:
colnames(ess18)

 [1] "idno"     "netustm"  "ppltrst"  "vote"     "prtvtddk" "lvpntyr"
 [7] "tygrtr"   "gndr"     "yrbrn"    "edlvddk"  "eduyrs"   "wkhct"
[13] "wkhtot"   "grspnum"  "frlgrsp"  "inwtm"

In [6]:
dim(ess18)

[1] 1285   16

See key summary statistics using `summary()`. (counts, mean, std, min, max, quartiles).

In [7]:
summary(ess18)

      idno           netustm          ppltrst          vote
 Min.   :  5816   Min.   :   0.0   Min.   : 0.00   Length:1285
 1st Qu.: 93707   1st Qu.:  90.0   1st Qu.: 6.00   Class :character
 Median :112877   Median : 150.0   Median : 7.00   Mode  :character
 Mean   :110980   Mean   : 227.4   Mean   : 7.08
 3rd Qu.:131072   3rd Qu.: 300.0   3rd Qu.: 8.00
 Max.   :150446   Max.   :1020.0   Max.   :10.00
                  NA's   :151      NA's   :3
   prtvtddk           lvpntyr             tygrtr              gndr
 Length:1285        Length:1285        Length:1285        Length:1285
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




     yrbrn        edlvddk              eduyrs       wkhct           wkhtot
 Min.   :1929   Length:1285        Min.   : 0   Min.   : 0.00   Min.   : 0.00
 1st Qu.:1952   Class :character   1st Qu.:11   1st Qu.:35.00   1st Qu.:35.00
 Median :1966   Mode  :character   Median :14   Median :37.00   Median :37.00
 Mean   :1967                      Mean   :14   Mean   :33.81   Mean   :36.44
 3rd Qu.:1982                      3rd Qu.:17   3rd Qu.:37.00   3rd Qu.:41.00
 Max.   :2003                      Max.   :40   Max.   :80.00   Max.   :90.00
                                   NA's   :7    NA's   :68      NA's   :27
    grspnum           frlgrsp           inwtm
 Min.   :      0   Min.   :     0   Min.   : 18.00
 1st Qu.:  26000   1st Qu.: 28375   1st Qu.: 51.00
 Median :  32000   Median : 35000   Median : 59.00
 Mean   :  43686   Mean   : 37255   Mean   : 63.32
 3rd Qu.:  41000   3rd Qu.: 40000   3rd Qu.: 70.00
 Max.   :3000000   Max.   :500000   Max.   :613.00
 NA's   :570       NA's   :1033     NA's   :5

## Data frames and vectors

Data frames consists of rows and columns. Typically R expects the rows of a data frame to contain observations and the columns of the data frame to contain variables (information about the observations).

R treats single columns (or variables) as "vectors". A vector is a series of values of the same class.

We can refer to a single column in a data frame with `$` (a vector).

In [8]:
head(ess18$yrbrn) # First six values of yrbrn variable

[1] 1974 1975 1958 1964 1952 1963

Each value in a vector is assigned an index refering to the position of the value in the vector (starts from 1).

A vector is indexed using `[]`:

In [9]:
ess18$yrbrn[10] # Returns the 10th value (row 10) of the yrbrn variable

[1] 1958

In [10]:
ess18$yrbrn[2:10] # Returns value 2-10 of the yrbn variable (both inclusive)

[1] 1975 1958 1964 1952 1963 1991 1984 1966 1958

A range of useful functions exist for calculating descriptive measures for a vector; fx `mean()`, `min()`, `max()` and `length()`.

In [11]:
min(ess18$yrbrn) # Returns smallest value
max(ess18$yrbrn) # Returns largest value
mean(ess18$yrbrn) # Returns mean value
length(ess18$yrbrn) # Returns number of values in the vector (corresponding to the number of rows)

[1] 1929

[1] 2003

[1] 1967.047

[1] 1285

`unique()` returns the unique values in a vector (useful for getting familiar with a variable):

In [12]:
unique(ess18$ppltrst)

 [1]  7  5  8  9  4  6  2 10  3  1  0 NA

### Useful operations and functions on vectors
Below are some examples of different commands to interact with vectors.

| Code   | Description |
|:-------|:------------|
|`my_vec[-3]` | Everything but the 3rd element |
|`my_vec[c(1,4)]` | The 1st and 4th element |
|`my_vec[c(2:4)]` | The elements from index 2 to 4 |
|`length(my_vec)` | The number of elements |
|`sort(my_vec)` | Sorts the elements in ascending order |
|`sum(my_vec)` | The sum of the vector elements (numeric) |
|`mean(my_vec)`| The mean of the vector elements (numeric) |
|`min(my_vec)` | The vector element with the lowest value (numeric) |
|`max(my_vec)` | The vector element with the highest value (numeric)

## Missing values

Data will often contain missing values. Missing values can denote a lot of things like a non-response, an invalid answer, an inaccessible information and so on. 

Missing values are used to assign a value without assigning a value. They are denotes as `NA` in R.

The `summary()` function includes information about the number of missing values:

In [13]:
summary(ess18$inwtm)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  18.00   51.00   59.00   63.32   70.00  613.00       5

Missing values are neither high or low in R. This means that it is not possible to perform computations on missing values:

In [15]:
min(ess18$inwtm) # NA is neither high or low - returns NA
max(ess18$inwtm) # NA is neither high or low - returns NA
mean(ess18$inwtm) # NA is neither high or low - returns NA

[1] NA

[1] NA

[1] NA

Usually one will have to deal with the missing values in some ways - either by replacing them or removing them.

Some functions have a built-in arguement for dealing with missing values.

## Data handling in R

When working with data, we usually need to perform some introductory data handling steps before being able to conduct our analysis.

This could include:

- Filtering observations and variables
- Creating new variables
- Recoding values

R supports all these operations both from "base" operations but there are also packages with more intuitive functions (like the packages in tidyverse: https://www.tidyverse.org/.

### Filtering observations (subsetting)

Like values in a vector, each value in a data frame also has an index. Each value in a data frame can be uniquely identified by the combination of its row and column index.

Data frames are indexed using `[rowindex, columnindex/column name]`:

In [16]:
ess18[10, 2] # Row 10, column 2

  netustm
1 60

In [17]:
ess18[10, 'prtvtddk'] # Row 10 in column prtvtddk

  prtvtddk
1 Venstre, Danmarks Liberale Parti - The Liberal Party

Notice that even though we are asking for a single value, the object returned is a 1x1 data frame!

We can also ask for several rows and columns:

In [18]:
ess18[c(1:10), c('prtvtddk', 'gndr')] # Row 1-10, column prtvtddk and gndr (specified as vectors)

   prtvtddk                                              gndr
1  SF Socialistisk Folkeparti - Socialist People's Party Male
2  Dansk Folkeparti - Danish People's Party              Female
3  Socialdemokratiet - The Social democrats              Male
4  Alternativet - The Alternative                        Female
5  Socialdemokratiet - The Social democrats              Female
6  Socialdemokratiet - The Social democrats              Male
7  Dansk Folkeparti - Danish People's Party              Male
8  Dansk Folkeparti - Danish People's Party              Female
9  Liberal Alliance - Liberal Alliance                   Female
10 Venstre, Danmarks Liberale Parti - The Liberal Party  Male

### Filtering with booleans/logical values

Normally we do not know the rowindex of the values we want to keep. Rather we want to filter observations based on a certain criteria. 

In R this is done via the use of "booleans" or "logical values". These are values that are either `TRUE` or `FALSE`.

A number of operations in R always return a logical value:

- `>`
- `>=`
- `<`
- `<=`
- `==`
- `!=`

In [19]:
42 > 10

[1] TRUE

In [20]:
10 != 10

[1] FALSE

Logicals can be used when filtering observations. Logicals are used to index the rows, so that only rows meeting the criteria will be returned:

In [21]:
head(ess18[ess18$gndr == 'Male', c('gndr', 'prtvtddk')])

  gndr prtvtddk
1 Male SF Socialistisk Folkeparti - Socialist People's Party
2 Male Socialdemokratiet - The Social democrats
3 Male Socialdemokratiet - The Social democrats
4 Male Dansk Folkeparti - Danish People's Party
5 Male Venstre, Danmarks Liberale Parti - The Liberal Party
6 Male Venstre, Danmarks Liberale Parti - The Liberal Party

Logicals can also be used when indexing vectors, thus being able to perform calculation on a specific group:

In [22]:
mean(ess18$ppltrst[ess18$gndr == "Male"], na.rm = TRUE) # Mean of ppltrst for gndr = male

[1] 6.978528

## Recoding and creating variables

Creating variables and (simple) recoding is usually done in the same way. The only difference being whether the recoding is assigned to a new variable or overwriting an existing (we are here only looking at recoding by arithmetic operations and not by replacing values).

In base R, we simply specify a variable that is not in the data and specify the contents:

In [23]:
ess18$inwth <- ess18$inwtm / 60 # Creating variable for length of interview in hours

head(ess18$inwth)

[1] 1.0166667 1.1333333 1.4833333 0.8333333 1.2833333 0.8000000

In [24]:
ess18$inwth <- NULL # This line removes the variable

# Saving files 

The most important thing to save is the R script.

Otherwise data can be exported - fx as a .csv file.

Check your directory with `getwd`. Directory can be changed with `setwd`.

We can save a .csv-file (comma-separated values) with `write.csv`:

```R
write.csv(ess18, file = "my_ess2018dk.csv", col.names = TRUE, row.names = FALSE)
```

**Code breakdown:**

| Code | Description |
|:-----|:------------|
|`ess18` | The object we want to save |
|`file = "my_ess2018dk.csv"` | The filename - .csv for comma-separated values |
|`col.names = TRUE` | Whether to store column names (in this case yes) |
|`row.names = FALSE` | Whether to store row names (in this case no) |

A .csv-file is a multi-platform format and can be loaded by most statistical software (Excel, Stata, etc.).